/* Plugin css code*/
.addresser-autocomplate-list {
  list-style-type: none;
  margin: 0;
}
.addresser-autocomplete-list-item , .addresser-autocomplete-widget-list-item{
 padding: 3px 0px;
 cursor: pointer;
}
.addresser-autocomplete-list-item:hover, .addresser-autocomplete-widget-list-item:hover {
 background-color: #f2f2f2;
}
.addresser-autocomplete-info {
 position: relative;
}
.addresser-close {
 position: absolute;
 top: -5px;
 right: 0;
 background-color: transparent;
 font-size: 27px;
 padding: 5px;
 border: none !important;
 cursor: pointer;
}
.addresser-autocomplate {
 padding: 10px;
 box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
 height: 300px;
 overflow-y: scroll;
}
.addresser-autocomplete-info h3 {
 margin-bottom: 5px;
 font-weight: 500;
}

.addresser-close:hover {
 background-color: unset;
}
.addresser-autocomplete-title{
  visibility: hidden;
  margin: 0;
}
.addresser-content {
 display: flex;
 align-items: center;
 width: 100%;
 background-color: #eaecef;
 border-radius: 5px;
}

#addresser-form {
 display: flex;
 margin-bottom: 0;
 margin: 6px 6px 6px 0px;
 width: 100%;
}
#addresser-form #addresser-search {
 width: 100%;
 background-color: #fff;
}
#addresser-search:focus {
 outline-color: transparent;
}
.addresser-content img {
 max-width: 37px;
 height: 29px;
 padding: 0px 9px;
}
.addresser-form .input-submit{
 background-color: #454545;
 color: #fff;
 text-transform: uppercase;
}
#addresser-details{
 background-color: #eaecef;
}
.addresser-form .input-submit:hover {
 background-color: #454545;
 color: #fff;
}
.addresser-form .input-submit:focus{
 outline-color: transparent;
}
.addresser-details-list {
 margin: 0;
 list-style-type: none;
 padding-left: 10px;
 display: flex;
 flex-wrap: wrap;
}

.addresser-details-item-main {
 width: 100%;
}

.addresser-details-item {
 width: 50%;
}

.addresser-details-item-main p, .addresser-details-item p {
 color: #000;
 font-weight: 400;
 font-size: 17px;
 margin-top: 5px;
 margin-bottom: 11px;
}

.addresser-details-item-main span, .addresser-details-item span {
   font-weight: 200;
   padding-left: 5px;
}